.App {
  position: relative;
  max-width: 650px;
  margin-left:auto;
  margin-right:auto;
  box-sizing: border-box;
  padding:1rem;
}

.featuredRoom {
  position:relative;
  box-sizing: border-box;
  padding:1rem;
  padding-bottom:0.5rem;
  padding-top:0.5rem;
  background:rgba(255, 255, 255, 0.144);
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.281);
  margin-bottom:5rem;
  animation: 0.7s slideIn cubic-bezier(0.215, 0.610, 0.355, 1);
}

.App .App-options .App-showSettings-text {
  opacity:0.6;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  user-select: none;
}

.App .App-options .App-options-more {
  position:relative;
  margin-top:1rem;
  animation: slideIn 0.3s;
}

.App .App-options label {
  display: block;
  font-weight: bold;
  margin-bottom:0.5rem;
  margin-top:1rem;
}

.App .App-options input[type="number"] {
  width: 4rem;
}

.App .App-options .App-showSettings-text:hover {
  opacity:1;
}

.App .App-options .App-whiteboardToggle {
  cursor:pointer;
  user-select: none;
}

.delayedDisplay {
  opacity:1;
  animation:5s appear;
}


.App > header > h1 {
  position: relative;
  font-size: 4rem;
}

@media screen and (max-width: 700px) {
  .App > header > h1 {
    font-size: 2rem;
  }
}

@keyframes appear {
  0% {
    opacity:0;
  }
  90% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@keyframes slideIn{
  0% {
    top:-20px;
    opacity:0;
  }
  100% {
    top:0;
    opacity:1;
  }
}