body {
  margin: 0;
  padding:0;
  font-family: 'Open Sans', sans-serif;
  color:white;
  background: #e64f21;  /* fallback for old browsers */
  background: linear-gradient(135deg, #ec8e0a, #e64f21); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sora', sans-serif;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.089);
}


a {
  color:inherit;
  text-decoration:underlined;
  transition:all 0.2s;
}


input {
  padding:8px;
  background:rgba(255, 255, 255, 0.555);
  border:none;
  margin-right:5px;
  border-radius:0.3rem;
  font-family: 'Open Sans', sans-serif;
}

  



